@using _ = ContosoUniversity.Shared.Features.Students.Details

@page "/Students/{id:int}"
@inject IRemotiatr _remotiatr

<h2>Details</h2>

<Loading When="Data == null">

    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <Label @bind-Value="Data.LastName" />
            </dt>
            <dd>
                @Data.LastName
            </dd>
            <dt>
                <Label @bind-Value="Data.FirstMidName" />
            </dt>
            <dd>
                @Data.FirstMidName
            </dd>
            <dt>
                <Label @bind-Value="Data.EnrollmentDate" />
            </dt>
            <dd>
                @Data.EnrollmentDate.ToString("d")
            </dd>
            <dt>
                <Label @bind-Value="Data.Enrollments" />
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                    @for (var i = 0; i < Data.Enrollments.Count; i++)
                    {
                        var item = Data.Enrollments[i];
                        <tr>
                            <td>
                                @item.CourseTitle
                            </td>
                            <td>
                                @item.Grade
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a href="/Students/edit/@Data.Id">Edit</a> |
        <a href="/Students">Back to List</a>
    </div>

</Loading>

@code {
    [Parameter]
    public int Id { get; set; }

    public _.Model Data { get; private set; }

    protected override async Task OnInitializedAsync() => Data = await _remotiatr.Send(new _.Query { Id = Id });
}